In [88]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
a = 'foo'
a.capitalize()

'Foo'

In [90]:
getattr(a,'split')

In [91]:
a.split()

['foo']

In [92]:
getattr(a,'capitalize')

In [93]:
a = [1,2,3]
b = a #Now a and b will referrence for same addresses
c = list(a)

In [94]:
a is b

True

In [95]:
a is c

False

In [96]:
a == c

True

In [97]:
a is not c

True

In [98]:
c = """
This string has four lines
even if it looks like 2
"""
c.count("\n")

3

In [99]:
c[:3] #slicing of a string

'\nTh'

In [100]:
s = 'python is love'
list(s)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'l', 'o', 'v', 'e']

In [101]:
s.split()

['python', 'is', 'love']

In [102]:
s= '12\34'
s #backlash must have a special character after it but it you have
#to add a backlash in a string

'12\x1c'

In [103]:
s = "12\\34"
print(s) #this is how you enter one backslash in string

12\34

In [104]:
# there is also other ways of doing that
s = r"this\has\no\special\characters"
print(s)
# r means raw and it prints raw string

this\has\no\special\characters

In [105]:
a = 'I love'
b = ' You'
a +b #will concatenate the strings

'I love You'

In [106]:
# String formatting or Tempalating
# there are many ways of doing that nowadays
# Basic method
tempelate = "{0:.2f} {1:s} are worth US${2:d}"
# {0:.2f} = specifies that first element will be a float value with upto 2 deciaml numbers
# {1:s} = specifies that 2nd element will be a string
# {2:d} = specifies that 3rd argument will be an integer
tempelate.format(11.3,'Pesos',3)

'11.30 Pesos are worth US$3'

In [107]:
# there is another way of doing it as well
# Formatted string which came in recent pyhton update
amount = 25
rate = 80
currency = 'USD'
f"{amount} {currency} will be equal to {amount*rate} INR."

'25 USD will be equal to 2000 INR.'

In [108]:
# String encoding and decoding
val = 'Español'
val_utf8 =val.encode('utf-8')

In [109]:
val_utf8.decode('utf-8')

'Español'

In [110]:
# DATES AND TIME
from datetime import datetime, date, time

In [111]:
dt = datetime(2011,10,29,20,30,21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [112]:
dt.day

29

In [114]:
dt.date()

datetime.date(2011, 10, 29)

In [115]:
dt.time()

datetime.time(20, 30, 21)

In [117]:
dt.strftime("%Y-%m-%d %H:%M") #Format datetime as string

'2011-10-29 20:30'

In [118]:
datetime.strptime("20111029", "%Y%m%d") #parse string into datetime functions

datetime.datetime(2011, 10, 29, 0, 0)

In [126]:
dt_hour = dt.replace(day=30,minute=0,second=0)
dt_hour #methods like these always produce new objects without modifying previous ones

datetime.datetime(2011, 10, 30, 20, 0)

In [127]:
dt #The replace function doesnot changes the main dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [128]:
delta = dt - dt_hour #diff of two datetime produces a datetime.timedelta<> type
delta

datetime.timedelta(days=-1, seconds=1821)